.card {
  width: 30vh;
  min-width: 158px;
  min-height: 211px;
  height: 45vh;
  border-radius: 15px;
  background: #ffdfc4;
  box-shadow: 15px 15px 30px #ffe09d,
             -15px -15px 30px #ffffff;
  margin: 15px;
  padding: auto;
}
.image{
  max-width: 100%;
  border-radius: 15px; 
}
.title{
  font-size: 4vh;
  min-width: none;
}
#content{
  height:100%;
  width: 100%;
}
p{
  margin:0.5vh;
}
.subtitle{
  font-size: 2vh;
}
.container{
    background-color: aqua;
}