{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<script src="{{  url_for('static' , filename='admin.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div id="login">
    <div class="alert alert-danger" role="alert" id="validAlert" style="display:none;">
        Код не пройшов валідацію!
    </div>
    <div class="mb-3">
        <label for="otpcode" class="form-label">Код Аунтифікатора</label>
        <input type="text" class="form-control" id="otpcode" placeholder="123456">
    </div>
    <button type="button" class="btn btn-outline-success m-3"
            onclick="validateOtp(document.getElementById('otpcode').value , function(){document.getElementById('main').style.display = 'flex'; document.getElementById('login').style.display = 'none';} , function(){document.getElementById('validAlert').style.display='block';})">
        Підтвердити
    </button>

</div>
<div id="main" style="display: none;">
    <div id="category" class="my-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Admin Панель</h5>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Телеметрія
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <button type="button" class="list-group-item list-group-item-action"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_telemetry_1"
                                                aria-expanded="false" aria-controls="collapse_telemetry_1"
                                                onclick="async function a(){await new Promise(r => setTimeout(r, 1000));chartHour(); chartPage();} a(); if(document.getElementById('collaps1').style.display == 'none'){document.getElementById('collaps1').style.display = 'block'}else{document.getElementById('collaps1').style.display = 'none'}">
                                            Використання
                                        </button>
                                        <button type="button" class="list-group-item list-group-item-action"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_telemetry_2"
                                                aria-expanded="false" aria-controls="collapse_telemetry_2"
                                                onclick="async function a(){await new Promise(r => setTimeout(r, 1000));chartRegion(); chartCookie(); chartCountry(); chartLogged();} a(); if(document.getElementById('collaps2').style.display == 'none'){document.getElementById('collaps2').style.display = 'block'}else{document.getElementById('collaps2').style.display = 'none'}">
                                            Користувачі
                                        </button>
                                        <button type="button" class="list-group-item list-group-item-action"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_telemetry_3"
                                                aria-expanded="false" aria-controls="collapse_telemetry_3"
                                                onclick="async function a(){await new Promise(r => setTimeout(r, 1000));chartRegion(); chartCookie(); chartCountry(); chartLogged();} a(); if(document.getElementById('collaps3').style.display == 'none'){document.getElementById('collaps3').style.display = 'block'}else{document.getElementById('collaps3').style.display = 'none'}">
                                            Продукти
                                        </button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Керування
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-group">
                                        <button type="button" class="list-group-item list-group-item-action"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_settings1"
                                                aria-expanded="false" aria-controls="collapse_settings1"
                                                onclick="if(document.getElementById('setting1').style.display == 'none'){document.getElementById('setting1').style.display = 'block'}else{document.getElementById('setting1').style.display = 'none'} get_products('all')">
                                            Продукти
                                        </button>
                                        <button type="button" class="list-group-item list-group-item-action"
                                                data-bs-toggle="collapse" data-bs-target="#collapse_settings2"
                                                aria-expanded="false" aria-controls="collapse_settings2"
                                                onclick="if(document.getElementById('setting2').style.display == 'none'){document.getElementById('setting2').style.display = 'block'}else{document.getElementById('setting2').style.display = 'none'} get_products('all')">
                                            Користувачі
                                        </button>
                                        <button type="button" class="list-group-item list-group-item-action">
                                            Замовлення
                                        </button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="collaps1" style="width: 100%; min-height: 100vh; display: none;">
        <div class="collapse collapse-horizontal m-2" id="collapse_telemetry_1">
            <div class="card card-body"
                 style="width: 100%; min-height: 100vh; display:flex; align-items: center; justify-items: center;">
                <div id="page" style="width: 50%; height:50%;">
                    <canvas id="page_canvas"></canvas>
                </div>
                <div id="hous" style="width: 50%; height:50%;">
                    <canvas id="hours_canvas"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div id="collaps2" style="width: 100%; min-height: 100vh; display: none;">
        <div class="collapse collapse-horizontal m-2" id="collapse_telemetry_2">
            <div class="card card-body"
                 style="width: 100%; min-height: 100vh; display:flex; align-items: center; justify-items: center;">
                <div id="region" style="width: 50%; height:50%;">
                    <canvas id="region_canvas"></canvas>
                </div>
                <div id="country" style="width: 50%; height:50%;">
                    <canvas id="country_canvas"></canvas>
                </div>
                <div id="isLogged" style="width: 50%; height:50%;">
                    <canvas id="loged_canvas"></canvas>
                </div>
                <div id="incognito" style="width: 50%; height:50%;">
                    <canvas id="incognito_canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div id="collaps3" style="width: 100%; min-height: 100vh; display: none;">
        <div class="collapse collapse-horizontal m-2" id="collapse_telemetry_3">
            <div class="card card-body"
                 style="width: 100%; min-height: 100vh; display:flex; align-items: center; justify-items: center;">
                <div id="product" style="width: 50%; height:50%;">
                    <canvas id="product_canvas"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div id="setting1" style="width: 100%; min-height: 100vh; display: none;">
        <div class="collapse collapse-horizontal m-2" id="collapse_settings1">
            <div class="card card-body mb-3"
                 style="width: 100%; height:fit-content; padding: 1vh; display:flex; align-items: center; justify-items: center;">
                <div id="products-filters" style="display:flex; flex-wrap: nowrap; align-items: center">
                    <div class="m-3">
                        <label for="productId" class="form-label">Id</label>
                        <input type="number" class="form-control" id="productId"
                               placeholder="1">
                    </div>
                    <div class="m-3">
                        <label for="productName" class="form-label">Назва</label>
                        <input type="number" class="form-control" id="productName"
                               placeholder="БоберXXX">
                    </div>
                    <div class="m-3">
                        <label for="productPrice" class="form-label">Ціна</label>
                        <input type="number" class="form-control" id="productPrice"
                               placeholder="25">
                    </div>
                    <div class="m-4" style="height: fit-content;">
                        <button type="button" class="btn btn-primary" onclick="get_products('search')">Пошук</button>
                    </div>
                </div>
            </div>
            <div id="products_list" class="card card-body"
                 style="width: 100%; min-height: 100vh; display:flex; align-items: center; justify-items: center;">
                <div id="products" style="display:flex; flex-wrap: nowrap;">
                </div>
            </div>
        </div>
    </div>
    <div id="setting2" style="width: 100%; min-height: 100vh; display: none;">
        <div class="collapse collapse-horizontal m-2" id="collapse_settings2">
            <div class="card card-body mb-3"
                 style="width: 100%; height:fit-content; padding: 1vh; display:flex; align-items: center; justify-items: center;">
                <div id="user-filters" style="display:flex; flex-wrap: nowrap; align-items: center">
                    <div class="m-3">
                        <label for="userEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="userEmail"
                               placeholder="1">
                    </div>
                    <div class="m-3">
                        <label for="userName" class="form-label">Ім'я</label>
                        <input type="number" class="form-control" id="userName"
                               placeholder="БоберXXX">
                    </div>

                    <div class="m-4" style="height: fit-content;">
                        <button type="button" class="btn btn-primary" onclick="get_users('search')">Пошук</button>
                    </div>
                </div>
            </div>
            <div id="user_list" class="card card-body"
                 style="width: 100%; min-height: 100vh; display:flex; align-items: center; justify-items: center;">
                <div id="users" style="display:flex; flex-wrap: nowrap;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}