<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Тюльпанчик</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="{{  url_for('static' , filename='script.js') }}"></script>
</head>
<body onload="preparePage()">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static' , filename='logo.png') }}" alt="Logo" class="d-inline-block align-text-top"
                 width="120" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Про нас</a>
                </li>
            </ul>
            <div id="login_btn" class="nav-login">
                <a type="button" href="/accounts/signin" class="btn btn-outline-success">Увійти</a>
                <a type="button" href="/accounts/signup" class="btn btn-outline-success">Створити аккаутн</a>
            </div>
            <div id="login_user" class="nav-login" style="display:none">
                <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" onclick="prepareBasket()"
                   style="margin-right: 15px;" aria-controls="offcanvasExample">
                    <img src="https://cdn-icons-png.flaticon.com/512/3081/3081822.png" width="50" height="50">
                </a>
                <a href="/user">
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png"
                         width="50"
                         height="50">
                    <a href="/user" class="nav-link active" id="uname" aria-current="page" style="margin-top: 10%"></a>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-end" style="width: 60vw;" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Кошик</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="of_body" class="offcanvas-body">
        <div id="bk_body">
        </div>
        <div id="bk_btn">
            <button type="button" onclick="GetPay()" class="btn btn-outline-success">Оплатити</button>
            <button type="button" aria-controls="offcanvasExample" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample"
                    onclick="document.getElementById('bk_body').innerHTML = '';sessionStorage.setItem('Basket', JSON.stringify({'basket': []}))"
                    class="btn btn-outline-danger">Очистити
            </button>

        </div>
    </div>
</div>
<main class="container page">
    {% block content %} {% endblock %}
</main>

<footer style="justify-content: center; display:flex; width: 100%; margin-top:30px;">
    <button type="button" onclick="alert('ТИ БЕБРА!')" class="btn btn-outline-success">Стати Беброю</button>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>