{% extends 'base.html' %}
{% block title %}Головна{% endblock %}
{% block style %}
<style>
    .card {
        width: 18rem;
        margin-top: 2vh;
        margin-left: 2vh;
    }

    .carousel {
        width: 70vw;
        height: 50vh;
        margin: 2vh;
    }

    .cards {
        display: flex;
    }

    @media screen and (width <= 900px) {
        .card {
            width: 100%;
            margin: 5px;
        }

        .cards {
            width: 100%;
            display: block;
        }

        .carousel {
            width: 100%;
            margin: 0px;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }

        .carousel-item {
            height: 30vh;
        }

    }

</style>
{% endblock %}
{% block content %}
{%for type, message in get_flashed_messages(True) %}
<div class="alert alert {{type}}" id="alert" role="alert">
    {{message}}
</div>
{% endfor %}
<div id="carouselExample" class="carousel slide" style="height:50vh; margin: auto;">
    <div class="carousel-inner" style="border-radius: 15px; margin-top: 2vh; height: fit-content;">
            {% for url in pics %}
            <div class="carousel-item active">
                <img src="{{url}}" class="d-block" alt="1"
                     style="height: 100%;min-height:200px;max-height: 400px; width: 100%">
            </div>
            {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="cards" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for card in cards %}
    <div class="card" style="margin-bottom: 2vh;">
        <img src="{{card.preview_pic}}" class="card-img-top" alt="..."
             style="height:50%;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <div class="card-body">
            <h5 class="card-title">{{card.name}}</h5>
            <p class="card-text">{{card.description}}</p>
            <a href="/product/{{card.id}}" class="btn btn-primary">Детальніше</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


