<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вхід - Магазин</title>
    <!-- Підключення бібліотеки Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Підключення стилів CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{  url_for('static' , filename='script.js') }}"></script>
</head>
<body>
<!-- Навігаційне меню -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
        <a class="navbar-brand" href="#">
      <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Ромашковий завод
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse " id="navbarNavAltMarkup" style="display: flex">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Головна</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Доставка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Про нас</a>
            </li>
          </ul>
        </div>
        <div id="Buttons" class="nav-login my-2 my-lg-0">
            <a type="button" class="btn btn-outline-success">Увійти</a>
            <a type="button" class="btn btn-outline-success">Створити аккаутн</a>
        </div>
    </div>
  </div>
</nav>

<!-- Форма для створення акаунту -->
<div class="container" style="margin-top: 2rem;">
    <form>
        <h3 class="mb-3">Вхід до акаунту</h3>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Введіть email">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Введіть пароль">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Запам'ятати мене</label>
        </div>
        <button type="submit" class="btn btn-primary">Увійти</button>
    </form>
    <div class="mt-3">
        <a href="#">Забули пароль?</a> або <a href="/accounts/signup">створіть новий акаунт</a>
    </div>
</div>
<!-- Підключення бібліотеки Popper.js та бібліотеки Bootstrap JS -->
<script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-wyfEiey1t+J1WxDgkIp0FQGOoZzHjxQWymC9ei9r1IeqT/bT+m8sWwuj1JvkmI+Y"
        crossorigin="anonymous"></script>
</body>
</html>