{% extends 'base.html' %}
{% block title %}Головна{% endblock %}
{% block content %}
<form>
    <h3 class="mb-3">Створення акаунту</h3>
    <div class="mb-3">
        <label for="inputName" class="form-label">Ім'я</label>
        <input type="text" class="form-control" id="inputName" placeholder="Введіть ім'я">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Введіть email">
    </div>
    <div class="mb-3">
        <label for="inputPhone" class="form-label">Телефон</label>
        <input type="tel" class="form-control" id="inputPhone" placeholder="Введіть номер телефону">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Введіть пароль">
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Підтвердження пароля</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Підтвердьте пароль">
    </div>
    <div class="alert alert-danger" id="alertjs" role="alert" style="display:none">

    </div>
    {%for type, message in get_flashed_messages(True) %}
    <div class="alert alert {{type}}" id="alert" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <button type="button" onclick="signup()" class="btn btn-outline-success">Зареєструватися</button>
</form>
{% endblock %}


